name = "stock-journal"
main = ".open-next/worker.js"
compatibility_date = "2025-03-01"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[observability]
enabled = true

[[d1_databases]]
binding = "stock_journal_db"
database_name = "stock_journal_db"
database_id = "9bc4d628-e8cb-407f-970e-c4eca51be190"
migrations_dir = "drizzle/migrations"

[env.dev]
name = "stock-journal-dev"
workers_dev = true
routes = []

[env.dev.vars]
AUTH_URL = "https://stock-journal.stock-journal.workers.dev"
ENV = "dev"
POLICY_AUD = "7691b8a8728d67e8e768c794ad77a1810522ca0819d1f1c412c4cc7d01647cc7"
TEAM_DOMAIN = "https://orangekai.cloudflareaccess.com"

[env.production]
name = "stock-journal"
routes = ["stock-lens.win/*"]

[env.production.vars]
AUTH_URL = "https://stock-lens.win"
ENV = "production"
