name = "stock-journal"
main = ".open-next/worker.js"
compatibility_date = "2025-03-01"
compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[observability]
enabled = true

[[d1_databases]]
# Default binding used by `wrangler dev` / `next dev`
binding = "stock_journal_db"
database_name = "stock_journal_dev"
database_id = "b06a5523-8cc0-42ce-952c-5d1f03389a8a"
migrations_dir = "drizzle/migrations"

[env.dev]
name = "stock-journal-dev"
workers_dev = true
routes = []

[env.dev.vars]
AUTH_URL = "https://stock-journal.stock-journal.workers.dev"
ENV = "dev"
POLICY_AUD = "62a67e8beea072aaa51ef5274860def244c980988b021023b611ab7dae79f1a2"
TEAM_DOMAIN = "https://orangekai.cloudflareaccess.com"

[[env.dev.d1_databases]]
binding = "stock_journal_db"
database_name = "stock_journal_dev"
database_id = "b06a5523-8cc0-42ce-952c-5d1f03389a8a"
migrations_dir = "drizzle/migrations"

[env.production]
name = "stock-journal"
routes = ["stock-lens.win/*"]

[env.production.vars]
AUTH_URL = "https://stock-lens.win"
ENV = "production"

[[env.production.d1_databases]]
binding = "stock_journal_db"
database_name = "stock_journal_db"
database_id = "9bc4d628-e8cb-407f-970e-c4eca51be190"
migrations_dir = "drizzle/migrations"
